.favourite {
  padding: 16px 0 15px;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  position: relative;
}

.favourite:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.favourite:first-child {
  padding-top: 0;
}

.favourite__name {
  margin: 0 0 4px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: -0.408px;
  color: #424242;
  max-width: 210px;
}

.favourite__like {
  position: absolute;
  right: 0;
  top: 16px;
  margin: 0 0 0 auto;
  width: 21px;
  height: 18px;
  background-image: url(../../images/like-inactive.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}

.favourite__like:hover {
  background-image: url(../../images/like-hover.svg);
}

.favourite__like_active {
  background-image: url(../../images/like-active.svg);
}

.favourite__duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: -0.408px;
  color: #878787;
  margin-bottom: 10px;
}

.favourite__date {
  margin: 0 15px 0 0;
}

.favourite__dash {
  margin: 0 13px 0 0;
}

.favourite__days {
  margin: 0;
}

.favourite__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.favourite__star {
  width: 17px;
  height: 17px;
}

.favourite__price {
  position: absolute;
  right: 0;
  bottom: 18px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 2;
  letter-spacing: -0.408px;
  color: #878787;
  margin: 0 auto 0 -23px;
}

.favourite:last-child .favourite__price {
  bottom: 3px;
}

.span_type_favourite-price {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29;
  text-align: right;
  letter-spacing: -0.408px;
  color: #424242;
  margin-left: 20px;
}