body {
  font-family: Roboto, Arial, sans-serif;
  ;
}

.login {
  background-image: url(../../images/background.webp);
}



.hotels {
  background-color: #E5E5E5;

}

.hotels__container {
  margin: 0 184px 26px 208px;
  display: grid;
  grid-template-areas:
    "search catalogue"
    "favourites catalogue";
  gap: 24px;
  grid-template-columns: 360px 664px;
  grid-template-rows: auto auto;
}

.favourites {
  grid-area: favourites;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 32px;
  width: 296px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.favourites__title {
  margin: 0 0 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
}

.favourites__sorting {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.sort-button {
  padding: 3px 7px;
  background-color: white;
  border: 1px solid #41522E;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.5;
}

.sort-button:hover {
  opacity: 0.5;
}

.sort-button__text {
  margin: 0 4px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.408px;
  color: #41522E;
}

.favourites__list {
  width: 100%;
}

.hotel {
  padding: 16px 16px 16px 0;
  display: grid;
  grid-template-areas:
    "image name like"
    "image duration ."
    "image rating price";
  grid-template-columns: min-content auto auto;
  border-bottom: rgba(135, 135, 135, 0.2) solid 1px;
}

.hotel__image {
  grid-area: image;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 3px 24px 0 0;
}

.hotel__name {
  margin: 3px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: -0.408px;
  color: #424242;
  grid-area: name;
}

.hotel__duration {
  grid-area: duration;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: -0.408px;
  color: #878787;
}

.hotel__date {
  margin: 0 24px 0 0;
}

.hotel__days {
  margin: 0;
}

.hotel__dash {
  margin-right: 10px;
  width: 9px;
}

.hotel__rating {
  grid-area: rating;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.hotel__star {
  width: 17px;
  height: 17px;
}

.hotel__like {
  grid-area: like;
  margin: 0 8px 0 auto;
  width: 21px;
  height: 18px;
  background-image: url(../../images/like-active.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hotel__price {
  margin: -6px 0 0 0;
  grid-area: price;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 2;
  text-align: right;
  letter-spacing: -0.408px;
  color: #878787;
}

.span_type_hotel-price {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: -0.408px;
  color: #424242;
  margin-left: 20px;
}

.catalogue {
  grid-area: catalogue;
  background: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.catalogue__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 48px 32px 28px;
}

.catalogue__checkin-date {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #41522E;
  margin: 0;
}

.breadcrumb-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.breadcrumb-navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #424242;
  text-decoration: none;
  margin-right: 20px;
}

.breadcrumb-navigation__divider {
  margin-right: 20px;
}

.breadcrumb-navigation__item:last-of-type .breadcrumb-navigation__divider {
  display: none;
}

.breadcrumb-navigation__item:last-of-type .breadcrumb-navigation__link {
  margin-right: 0;
}

/* .breadcrumb-navigation__divider {} */

.catalogue-carousel {
  display: flex;
  flex-direction: row;
  gap: 12px;
  overflow: hidden;
  padding: 0 0 28px 32px;
  margin-right: 32px;
}

.catalogue-carousel__photo {
  width: 164px;
  height: 149px;
  flex-shrink: 0;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
}

.catalogue__favourites {
  margin: 0 32px 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: -0.408px;
  color: #424242;
}

.catalogue__span {
  font-weight: 500;
  margin: 0 4px 0 8px;
}

.catalogue__list {
  list-style-type: none;
  padding: 0;
  margin: 0 46px 48px 32px;
}

.favourite {
  display: grid;
  grid-template-areas:
    "fav-name fav-like"
    "fav-duration ."
    "fav-rating fav-price";
  grid-template-columns: max-content auto;
  padding: 16px 0 15px;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}

.favourite:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.favourite__name {
  grid-area: fav-name;
  margin: 0 0 4px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: -0.408px;
  color: #424242;
}

.favourite__like {
  grid-area: fav-like;
  margin: 0 0 0 auto;
  width: 21px;
  height: 18px;
  background-image: url(../../images/like-active.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.favourite__duration {
  grid-area: fav-duration;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: -0.408px;
  color: #878787;
  margin-bottom: 2px;
}

.favourite__date {
  margin: 0 15px 0 0;
}

.favourite__dash {
  margin: 0 13px 0 0;
}

.favourite__days {
  margin: 0;
}

.favourite__rating {
  grid-area: fav-rating;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.favourite__star {}

.favourite__price {
  grid-area: fav-price;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 2;
  letter-spacing: -0.408px;
  color: #878787;
  margin: 0 auto 0 -23px;
}

.span_type_favourite-price {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29;
  text-align: right;
  letter-spacing: -0.408px;
  color: #424242;
  margin-left: 20px;
}