body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #E5E5E5;
}

.login {
  background-image: url(../../images/background.webp);
}

.hotels__container {
  max-height: 906px;
  margin: 0 184px 26px 208px;
  display: grid;
  grid-template-areas:
    "search catalogue"
    "favourites catalogue";
  gap: 24px;
  grid-template-columns: 360px 664px;
  grid-template-rows: auto auto;
}