body {
  font-family: Roboto, Arial, sans-serif;
  ;
}

.login {
  background-image: url(../../images/background.webp);
}



.hotels {
  background-color: #E5E5E5;
}

.hotels__container {
  max-height: 906px;
  margin: 0 184px 26px 208px;
  display: grid;
  grid-template-areas:
    "search catalogue"
    "favourites catalogue";
  gap: 24px;
  grid-template-columns: 360px 664px;
  grid-template-rows: auto auto;
}

.favourites {
  grid-area: favourites;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 32px;
  width: 296px;
  height: 408px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.favourites__title {
  margin: 0 0 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
}

.favourites__sorting {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.sort-button {
  padding: 3px 7px;
  background-color: white;
  border: 1px solid #41522E;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.5;
}

.sort-button:hover {
  opacity: 0.5;
}

.sort-button__text {
  margin: 0 4px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.408px;
  color: #41522E;
}

.favourites__list {
  width: 100%;
}

.favourite {
  display: grid;
  grid-template-areas:
    "fav-name fav-like"
    "fav-duration ."
    "fav-rating fav-price";
  grid-template-columns: max-content auto;
  padding: 16px 0 15px;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}

.favourite:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.favourite__name {
  grid-area: fav-name;
  margin: 0 0 4px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.29;
  letter-spacing: -0.408px;
  color: #424242;
}

.favourite__like {
  grid-area: fav-like;
  margin: 0 0 0 auto;
  width: 21px;
  height: 18px;
  background-image: url(../../images/like-active.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.favourite__duration {
  grid-area: fav-duration;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: -0.408px;
  color: #878787;
  margin-bottom: 2px;
}

.favourite__date {
  margin: 0 15px 0 0;
}

.favourite__dash {
  margin: 0 13px 0 0;
}

.favourite__days {
  margin: 0;
}

.favourite__rating {
  grid-area: fav-rating;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.favourite__star {
  width: 17px;
  height: 17px;
}

.favourite__price {
  grid-area: fav-price;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 2;
  letter-spacing: -0.408px;
  color: #878787;
  margin: 0 auto 0 -23px;
}

.span_type_favourite-price {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29;
  text-align: right;
  letter-spacing: -0.408px;
  color: #424242;
  margin-left: 20px;
}