.favourites {
  grid-area: favourites;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 32px;
  width: 296px;
  height: 408px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.favourites__title {
  margin: 0 0 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
}

.favourites__sorting {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.sort-button {
  padding: 3px 7px;
  background-color: white;
  border: 1px solid #41522E;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 0.5;
}

.sort-button:hover {
  opacity: 0.5;
}

.sort-button__text {
  margin: 0 4px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.408px;
  color: #41522E;
}

.favourites__list {
  width: 100%;
}